html {
    background-color: #204F21;
}

nav {
    background-color: #4F2035;
    height: 100%;
    width: 30%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    padding-top: 20px;
    border-right: #9C1F56 solid 3px;
}

ul {
    list-style: none;
}