html {
    background-color: #01260A;
    color: #62C746;
    font-family: "Roboto",sans-serif;
    font-size: 17px;
}

* {
    margin: 0 0;
}

h1 {
    font-size: 4rem;
    text-shadow: 1px 3px 0px #fd2631;
    font-weight: bold;
}

h2 {
    color: #62C746;
    text-shadow: 1px 2px 0px #fd2631;
    font-family: "Playfair Display", serif;
}

h3 {
    box-shadow: 0px 2px;
    font-family: "Playfair Display", serif;
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

h4 {
    box-shadow: 0px 2px;
    font-family: "Playfair Display", serif;
    font-size: 1.3rem;
}

p {
    margin: 0.4rem 0rem;
}

a {
    color: #62C746;
}

ul {
    list-style: none;
}

img {
    margin: 0 0
}

/*------ Nav Bar Section------*/

.nav-container {
    display: flex;
    background-color:#025918;
    box-shadow: 0px 1px 3px #01260A;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.logo {
    margin: 0 0;
    font-family: "Bebas Neue", sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
}

.logo span {
    color: #fd2631;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    margin-top: 0.3rem;
    font-family: "Playfair Display", serif;
}

/*------ Header Section ------*/

#header {
    background-image: url("../assets/green-smoke.webp");
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;
    font-size: 1.5rem;
    font-family: "Bebas Neue", sans-serif;
}

/*------ About Section ------*/

#about {
    background-color: #014011;
    padding-top: 5rem;
    height: fit-content;
}

.abt-img-box {
    display: flex;
    justify-content: center;
    height: fit-content;
    position: relative;
}

.img-text {
    color: #01260A;
    position: absolute;
    top: 1rem;
    text-shadow: -1px 1px #014011;
    font-family: "Playfair Display", serif;
    font-style: italic;
    font-size: 0.8rem;
}

.abt-img-box img {
    width: 100%;
}

.about {
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.skills {
    padding: 1rem;
}

.skill-container {
    display: grid;
    width: 100%;
    justify-items: center;
    gap: 0.6rem;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;

    padding: 1rem;
}

.list-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: #01260A;
    background-color: #067302;

    height: 5rem;
    width: 5rem;

    border: #038C0C 1px solid;
    box-shadow: -0.1rem 0.1rem 3px #01260A;
    text-align: center;
}

/*------ Projects Section ------*/

#projects {
    padding: 1rem;
}

.project-container {
    display: grid;
    justify-items: center;
    gap: 0.6rem;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;

    padding: 1rem;

    text-align: center;
    font-weight: bold;
}

.project-container img {
    box-shadow: 0px 0px 10px #038C0C;
    margin-bottom: 1rem;
    height: 100px;
}

/*------ Footer Section ------*/

footer {
    background-image: url("../assets/green-smoke.webp");
    background-size: cover;
}

footer p {
    margin: 0;
    padding: 0.5rem 1rem;
    text-align: end;
}